body {
  padding: 32px;
}
select::-ms-expand { display: none; }

.search_bar {
  // reset user agent stylesheet
  appearance: none;

  &--arrow {
    background-image:
      linear-gradient(45deg, transparent 50%, #888 50%),
      linear-gradient(135deg, #888 50%, transparent 50%);
    background-position: calc(100% - 24px), calc(100% - 16px);
    background-size: 8px 8px, 8px 8px;
    background-repeat: no-repeat;
  }
}